
/*  HEADER STYLE*/
.header{
    display:flex;
    flex-direction: row-reverse;
    margin-right: 3em;
    color: blanchedalmond;
    list-style: none;
}


/* HEADER LI STYLE */
.header li {
    margin-right: 10px;
    padding: 25px;
   
}


/* BUTTON STYLE */
.btn-style{
    background-image: linear-gradient(to right,#a3d8f4 ,#f8efd4);
    border:none;
    border-radius: 5px;
    font-weight: bold;


}

.btn-style:hover{
    background-image: linear-gradient(to right, #f8efd4,#4387ac);
    border: none;
    box-shadow: 0px 1px 1px 0px #f8efd4;
}