body{
    /* background-image: linear-gradient(190deg,#b4b1b1,  #fcfcfc); */
    background-image: url('./pages/assets/taskmg.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
   

}