.App{
    background-image: linear-gradient(to left,#E0EAFC,  #CFDEF3);
    text-align: center;
    /* background-image: url('./pages/assets/newtaskpic.jpg'); */
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
   

}