.App{
    /* background-image: linear-gradient(190deg,#b4b1b1,  #fcfcfc); */
    text-align: center;
    background-image: url('./pages/assets/newtaskpic.jpg');
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
   

}